name: Verify Formatting and Analyze

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  flutter_job:
    name: Analyze
    
    # The machine, we can also use windows-latest or macos-latest
    runs-on: ubuntu-latest

    steps:
    
      # Clones the current project on the machine
      - name: Checkout current repository
        uses: actions/checkout@v4

      # Installs flutter and related dependency on this machine
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          # flutter-version: '3.16.8'
          # ^ If you want to use a specific version of flutter

      # Fetches project dependencies from pub
      - name: Install dependencies
        run: flutter pub get

      # Verifies if the dart code is formatted well
      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .
        # --set-exit-if-changed stops execution if the any code is not well formatted
        # --output=none prints files which needs to be formatted

      # Checks for Semantic errors. Can be configured using analysis_options.yaml
      - name: Analyze project source
        run: flutter analyze --fatal-warnings
        # --fatal-warnings stops execution if any warnings are found
